@model SpeedyAPI.Models.Subject

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Subject</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <p class="text-danger">@ViewBag.error</p>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="room" class="control-label"></label>
                <input asp-for="room" value="@Model.room" class="form-control" />
                <span asp-validation-for="room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="major_id" class="control-label"></label>
                <input asp-for="major_id" value="@Model.major_id" readonly class="form-control" />
                <span asp-validation-for="major_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="teacher_observer" class="control-label"></label>
                <select class="custom-select my-1 mr-sm-2" asp-for="teacher_observer">
                    <option value="-1" selected>Please choose teacher</option>
                    @foreach (TeacherAccount teacher in ViewBag.teachers)
                    {
                        <option value="@teacher.id">@teacher.email</option>
                    }
                </select>
                <span asp-validation-for="teacher_observer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
